In [1]:
#Importing the required libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r'movies_data.csv')
df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
3358,tt0031722,The Night Riders,The Night Riders,1939,1939-04-12,"Action, Adventure, Drama",56,USA,English,George Sherman,...,"John Wayne, Ray Corrigan, Max Terhune, Ruth Ro...",Talbot uses a phony land grant to rule thirtee...,6.0,282,NaN,NaN,NaN,NaN,13.0,5.0
64255,tt2072979,God's Country,God's Country,2012,2012-02-24,"Comedy, Drama, Family",96,USA,English,Chris Armstrong,...,"Jenn Gotzon, Todd Duffey, Arlene Santana, Suza...",Meghan is a talented property sales executive ...,4.6,294,$ 1000000,NaN,NaN,NaN,14.0,1.0
50440,tt0826587,Night Junkies,Night Junkies,2007,2007,"Horror, Romance, Thriller",90,UK,English,Lawrence Pearce,...,"Giles Alderson, Lucy Bowen, Beverley Eve, Matt...","In London, Vincent Monroe is a young man addic...",4.6,624,$ 100000,NaN,NaN,NaN,28.0,15.0
38499,tt0253960,Yalanci Yarim,Yalanci Yarim,1973,1973,"Comedy, Romance",97,Turkey,Turkish,Ertem Egilmez,...,"Emel Sayin, Tarik Akan, Münir Özkul, Suzan Ust...","A young man, living with his big brothers mone...",7.2,2083,NaN,NaN,NaN,NaN,NaN,1.0
8275,tt0047978,Profondo come il mare,The Deep Blue Sea,1955,1955-10-17,"Drama, Romance",100,UK,English,Anatole Litvak,...,"Vivien Leigh, Kenneth More, Eric Portman, Emly...",A woman unhappy in her passionless marriage le...,6.6,294,NaN,NaN,NaN,NaN,15.0,2.0

In [3]:
df.shape

(85855, 22)

In [4]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [5]:
col = ['imdb_title_id','original_title','year','genre','director','writer','actors','description','avg_vote', 'votes']
df = df[col]

In [6]:
sum(df['original_title'].duplicated())

5003

In [7]:
df.drop_duplicates(subset='original_title',inplace=True)

In [8]:
df.columns

Index(['imdb_title_id', 'original_title', 'year', 'genre', 'director',
       'writer', 'actors', 'description', 'avg_vote', 'votes'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80852 entries, 0 to 85854
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_title_id   80852 non-null  object
 1   original_title  80852 non-null  object
 2   year            80852 non-null  object
 3   genre           80852 non-null  object
 4   director        80771 non-null  object
 5   writer          79355 non-null  object
 6   actors          80787 non-null  object
 7   description     78777 non-null  object
 8   avg_vote        80852 non-null  float64
 9   votes           80852 non-null  int64
dtypes: float64(1), int64(1), object(8)
memory usage: 6.8+ MB

In [10]:
data = df.copy()

In [11]:
def preprocess_cast(s,l=5):
    try :
        s = s.lower()
        s = s.replace(' ','')
        s = s.replace(',',' ')
        s = s.split(' ')
        s = s[:5]
    
        return ' '.join(s)
    except AttributeError:
        return s

In [12]:
data.actors[4]

'Salvatore Papa, Arturo Pirovano, Giuseppe de Liguoro, Pier Delle Vigne, Augusto Milla, Attilio Motta, Emilise Beretta'

In [13]:
preprocess_cast(data.actors[4],l=5)

'salvatorepapa arturopirovano giuseppedeliguoro pierdellevigne augustomilla'

In [14]:
data['director'] = data['director'].apply(lambda x : preprocess_cast(x,l=1))
data['writer'] = data['writer'].apply(lambda x : preprocess_cast(x,l=1))
data['actors'] = data['actors'].apply(lambda x : preprocess_cast(x,l=5))

In [15]:
data.actors[4]

'salvatorepapa arturopirovano giuseppedeliguoro pierdellevigne augustomilla'

In [16]:
data.genre[1]

'Biography, Crime, Drama'

In [17]:
def preprocess_genre(s):
    s = s.replace(' ','')
    s = s.replace(',',' ')
    
    return s

In [18]:
data['genre'] = data['genre'].apply(lambda x : preprocess_genre(x))

In [19]:
data.genre[1]

'Biography Crime Drama'

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80852 entries, 0 to 85854
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_title_id   80852 non-null  object
 1   original_title  80852 non-null  object
 2   year            80852 non-null  object
 3   genre           80852 non-null  object
 4   director        80771 non-null  object
 5   writer          79355 non-null  object
 6   actors          80787 non-null  object
 7   description     78777 non-null  object
 8   avg_vote        80852 non-null  float64
 9   votes           80852 non-null  int64
dtypes: float64(1), int64(1), object(8)
memory usage: 8.8+ MB

In [21]:
data[data.year == 'TV Movie 2019']

,imdb_title_id,original_title,year,genre,director,writer,actors,description,avg_vote,votes
83917,tt8206668,Bad Education,TV Movie 2019,Biography Comedy Crime,coryfinley,mikemakowsky robertkolker,hughjackman rayromano welkerwhite allisonjanne...,The beloved superintendent of New York's Rosly...,7.1,23973

In [22]:
data = data.drop(83917,axis=0)

In [23]:
data.year = data.year.astype('int32')

In [24]:
l = data[(data.actors.isna()) & (data.director.isna()) & (data.writer.isna())].index.tolist()

In [25]:
data = data.drop(l,axis=0)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80838 entries, 0 to 85854
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_title_id   80838 non-null  object
 1   original_title  80838 non-null  object
 2   year            80838 non-null  int32
 3   genre           80838 non-null  object
 4   director        80770 non-null  object
 5   writer          79354 non-null  object
 6   actors          80786 non-null  object
 7   description     78764 non-null  object
 8   avg_vote        80838 non-null  float64
 9   votes           80838 non-null  int64
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 6.5+ MB

In [27]:
data.head()

,imdb_title_id,original_title,year,genre,director,writer,actors,description,avg_vote,votes
0,tt0000009,Miss Jerry,1894,Romance,alexanderblack,alexanderblack,blanchebayliss williamcourtenay chaunceydepew,The adventures of a female reporter in the 1890s.,5.9,154
1,tt0000574,The Story of the Kelly Gang,1906,Biography Crime Drama,charlestait,charlestait,elizabethtait johntait normancampbell bellacol...,True story of notorious Australian outlaw Ned ...,6.1,589
2,tt0001892,Den sorte drøm,1911,Drama,urbangad,urbangad gebhardschätzler-perasini,astanielsen valdemarpsilander gunnarhelsengree...,Two men of high rank are both wooing the beaut...,5.8,188
3,tt0002101,Cleopatra,1912,Drama History,charlesl.gaskill,victoriensardou,helengardner pearlsindelar missfielding missro...,The fabled queen of Egypt's affair with Roman ...,5.2,446
4,tt0002130,L'Inferno,1911,Adventure Drama Fantasy,francescobertolini adolfopadovan,dantealighieri,salvatorepapa arturopirovano giuseppedeliguoro...,Loosely adapted from Dante's Divine Comedy and...,7.0,2237

In [28]:
data['full_cast'] = (data['director'] +' '+ data['writer'] +' '+ data['actors'])

In [29]:
def cast_preprocess(s):
    try:
        s = list(set(s.split(' ')))
        return ' '.join(s)
    except AttributeError:
        return s

In [30]:
data['full_cast'] = data['full_cast'].apply(lambda x : cast_preprocess(x))

In [31]:
data.head(2)

,imdb_title_id,original_title,year,genre,director,writer,actors,description,avg_vote,votes,full_cast
0,tt0000009,Miss Jerry,1894,Romance,alexanderblack,alexanderblack,blanchebayliss williamcourtenay chaunceydepew,The adventures of a female reporter in the 1890s.,5.9,154,williamcourtenay chaunceydepew blanchebayliss ...
1,tt0000574,The Story of the Kelly Gang,1906,Biography Crime Drama,charlestait,charlestait,elizabethtait johntait normancampbell bellacol...,True story of notorious Australian outlaw Ned ...,6.1,589,charlestait johntait elizabethtait bellacola w...

In [32]:
data['original_title'] = data['original_title'].str.lower()

In [33]:
data.isna().sum()

imdb_title_id        0
original_title       0
year                 0
genre                0
director            68
writer            1484
actors              52
description       2074
avg_vote             0
votes                0
full_cast         1548
dtype: int64

In [34]:
data = data[data['full_cast'].notna()]

In [35]:
data.shape

(79290, 11)

In [36]:
data.sample()

,imdb_title_id,original_title,year,genre,director,writer,actors,description,avg_vote,votes,full_cast
31248,tt0120686,stepmom,1998,comedy drama,chriscolumbus,gigilevangie gigilevangie,juliaroberts susansarandon edharris jenamalone...,A terminally-ill woman must deal with her ex-h...,6.8,59467,edharris juliaroberts gigilevangie liamaiken j...

In [37]:
data.votes /= data.votes.max()
data.avg_vote /= data.avg_vote.max()

data['metascore1'] = (0.5 * data.votes) + (0.5 * data.avg_vote)

In [38]:
data.head()

,imdb_title_id,original_title,year,genre,director,writer,actors,description,avg_vote,votes,full_cast,metascore1
0,tt0000009,miss jerry,1894,romance,alexanderblack,alexanderblack,blanchebayliss williamcourtenay chaunceydepew,The adventures of a female reporter in the 1890s.,0.602041,0.000068,williamcourtenay chaunceydepew blanchebayliss ...,0.301054
1,tt0000574,the story of the kelly gang,1906,biography crime drama,charlestait,charlestait,elizabethtait johntait normancampbell bellacol...,True story of notorious Australian outlaw Ned ...,0.622449,0.000258,charlestait johntait elizabethtait bellacola w...,0.311354
2,tt0001892,den sorte drøm,1911,drama,urbangad,urbangad gebhardschätzler-perasini,astanielsen valdemarpsilander gunnarhelsengree...,Two men of high rank are both wooing the beaut...,0.591837,0.000082,astanielsen gebhardschätzler-perasini valdemar...,0.295960
3,tt0002101,cleopatra,1912,drama history,charlesl.gaskill,victoriensardou,helengardner pearlsindelar missfielding missro...,The fabled queen of Egypt's affair with Roman ...,0.530612,0.000196,helenecostello helengardner missfielding missr...,0.265404
4,tt0002130,l'inferno,1911,adventure drama fantasy,francescobertolini adolfopadovan,dantealighieri,salvatorepapa arturopirovano giuseppedeliguoro...,Loosely adapted from Dante's Divine Comedy and...,0.714286,0.000982,adolfopadovan giuseppedeliguoro pierdellevigne...,0.357634

In [42]:
data.to_csv('movies_data3.csv',index=False)